- title "Admin area"
  
%h1.page-header= yield(:title)

.row
  .col-md-6
    .list-group
      .list-group-item
        %span.glyphicon.glyphicon-user
          %span= link_to "Users accounts", users_path
      .list-group-item
        %span.glyphicon.glyphicon-cog
          %span= link_to "Workers", workers_path
      .list-group-item
        %span.glyphicon.glyphicon-hdd
          %span= link_to "Repositories", repositories_path
      .list-group-item
        %span.glyphicon.glyphicon-road
          %span= link_to "Enviroments", enviroments_path
      .list-group-item
        %span.glyphicon.glyphicon-random
          %span= link_to "Build numbers", build_numbers_path
      .list-group-item
        %span.glyphicon.glyphicon-bullhorn
          %span= link_to "Base versions", base_versions_path
      .list-group-item
        %span.glyphicon.glyphicon-list-alt
          %span= link_to "Issue trackers", issue_trackers_path
      .list-group-item
        %span.glyphicon.glyphicon-fire
          %span= link_to "Tests executors", tests_executors_path 
      .list-group-item
        %span.glyphicon.glyphicon-home
          %span= link_to "Home page contents", home_page_contents_path

