- title "Admin area"
  
%h1= yield(:title)

.row
  .col-md-12
    %ul
      %li= link_to "Users accounts", users_path
      %li= link_to "Workers", workers_path
      %li= link_to "Repositories", repositories_path
      %li= link_to "Enviroments", enviroments_path
      %li= link_to "Build numbers", build_numbers_path


