- title "List workers"
  
%h1= yield(:title)

.row
  .col-md-12
    %table.table.table-striped.table-bordered.table-hover.table-responsive
      %tr
        %th Title
        %th Address
        %th Platforms
        %th More info
        
      - @workers.each do |worker|
        %tr
          %td= worker.title
          %td= worker.address
          %td
            %ul
              - worker.target_platforms.each do |platform|
                %li= platform.title
                
          %td= link_to content_tag(:span, "", :class => "glyphicon glyphicon glyphicon-list"), worker, :class => "btn btn-default"
          
    = link_to 'Add new worker', new_worker_path, class: "btn btn-primary"