%table.table.table-striped.table-bordered.table-hover.table-responsive
  %tr
    %th Enviroment
    %th Branch
    %th Full version
    %th Platform
    %th Artefact
    %th Revision
    %th Started at
    %th Duration
    %th Comment
    %th More info
    
  - @build_jobs_active.each do |b|
    %tr{:class => build_job_tr_class(b) }
      %td= b.enviroment.title
      %td= b.branch.name
      %td= b.full_version.title unless b.full_version.nil? 
      %td= b.target_platform.title
      %td
        - b.build_artefacts.each do |a|
          = link_to artefact_link_text_short(a), artefact_link(@enviroment, a)
      %td= link_to_commit(b)
      %td= localtime(b.started_at) unless b.started_at.nil? 
      %td= calculate_duration(b)
      %td= b.comment
      %td= link_to content_tag(:span, "", :class => "glyphicon glyphicon glyphicon-list"), enviroment_build_job_path(id: b.id, :enviroment_title => @enviroment.title), :class => "btn btn-default"
 