%h3= image_tag image_path("busy_pacman.gif"), alt: "pacman", class: "img-responsive inline-block"
%table.table.table-striped.table-bordered.table-hover.table-responsive
  %tr
    %th Enviroment
    %th Branch
    %th Full version
    %th Platform
    %th Artefact
    %th Revision
    %th Started at
    %th Duration
    %th Comment
    %th More info
    %th{:style => "display:none;"}
    
  - build_jobs.each do |b|
    %tr{:class => build_job_tr_class(b), :id => "build_job_id_" + b.id.to_s }
      %td= b.enviroment.title
      %td= b.branch.name
      %td{:id => "full_version_for_" + b.id.to_s}= b.full_version.title unless b.full_version.nil? 
      %td= b.target_platform.title
      %td{:id => "artefacts_for_" + b.id.to_s}= artefacts_links(b)
      %td{:id => "revision_for_" + b.id.to_s}= revision_text(b)
      %td= localtime(b.started_at) unless b.started_at.nil? 
      %td{:id => "duration_for_" + b.id.to_s}= calculate_duration(b)
      %td= truncate b.comment, :length => 25, :separator => ' '
      %td= link_to content_tag(:span, "", :class => "glyphicon glyphicon glyphicon-list"), enviroment_build_job_path(id: b.id, :enviroment_title => enviroment.title), :class => "btn btn-default"
      %td{:id => "status_for_" + b.id.to_s, :style => "display:none;"}= b.status.to_s