= bootstrap_form_for @build_job, url: enviroment_build_jobs_path(enviroment_title: @enviroment.title), method: :post, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10" do |f|
  .row
    .col-md-11
      = f.select :branch, options_from_collection_for_select(@branches, :id, :name), {}, :id => "select-branch"
      = select2js_for_id "select-branch"
    .col-md-1
      %span{:title => "Update branches list"}
        = link_to "", fetch_branches_repository_path(@build_job.enviroment.repository), method: :post, class: "btn btn-default glyphicon glyphicon-refresh"
  .row
    .col-md-11
      = f.select :base_version, options_from_collection_for_select(@build_job.enviroment.base_versions, :id, :name), {}, :id => "select-base_version"
      = select2js_for_id "select-base_version"
  
  .row
    .col-md-11
      = f.select :target_platform, options_from_collection_for_select(@target_platforms, :id, :title), {}, :id => "select-target_platform"
      = select2js_for_id "select-target_platform"
  .row
    .col-md-11
      = f.select :notify_user, options_from_collection_for_select(@users, :id, :email), {include_blank: 'None'}, :id => "select-user"
      = select2js_for_id "select-user"
    .col-md-1
      %span{:title => "Select me"}
        .btn.btn-default.glyphicon.glyphicon-user#select-me-button
      
  .row
    .col-md-11
      = f.text_field :comment
  
  = f.submit "Start build", class: "btn btn-success"
  %span{:class => "triangle-isosceles left", :id => "existing_build_notification"}
    %span= "The build is already exists. Grab it "
    %a{:href => "#", :id => "existing_build_path"}= "here"
    %span= " or start a new one if you absolutely sure you need it"
