- title "#{@enviroment.title.humanize} builds"

.row
  .col-md-12
    = render partial: 'enviroments_menu'
    
%h3= yield(:title)

.row
  .col-md-12
    = render partial: 'form'

.row
  .col-md-12
    %h3 Active jobs
    = render partial: 'list_jobs', locals: {build_jobs: @build_jobs_busy, enviroment: @enviroment}  
    
.row
  .col-md-12
    %h3 Latest jobs
    = render partial: 'list_jobs', locals: {build_jobs: @build_jobs_ready, enviroment: @enviroment}
