- title "#{@enviroment.title.humanize} builds"

.row
  .col-md-12
    = render partial: 'enviroments_menu'
    
%h3= yield(:title)

.row
  .col-md-12
    = render partial: 'form'

- if @build_jobs_busy.any?
  .row
    .col-md-6
      %h3 Active jobs 
    .col-md-6
      = image_tag image_path("busy_pacman.gif"), alt: "pacman", class: "img-responsive inline-block pull-right"
    .col-md-12
      = render partial: 'list_jobs', locals: {build_jobs: @build_jobs_busy, enviroment: @enviroment}
    
.row
  .col-md-12
    %h3 Latest jobs
    = render partial: 'list_jobs', locals: {build_jobs: @build_jobs_ready, enviroment: @enviroment}
