- title "#{@enviroment.title.humanize} builds"

.row
  .col-md-12
    = render partial: 'main_menu'

.row
  .col-md-2
    = render partial: 'enviroments_menu', locals: {page: :home_enviroments}
  .col-md-10
    %h3= yield(:title)
    = render partial: 'form'

- if @build_jobs_active.any?
  .row
    .col-md-12
      #active_jobs_partial
        = render partial: 'active_jobs', locals: {build_jobs: @build_jobs_active, enviroment: @enviroment}
    
.row
  .col-md-12
    %h3 Latest jobs
    #last_jobs_partial
      = render partial: 'list_jobs', locals: {build_jobs: @build_jobs_ready, enviroment: @enviroment}
