- title "Build job info"

%h1= yield(:title)

.row
  .col-md-12
    %dl.dl-horizontal
      %dt Status
      %dd= @build_job.status.humanize
      %dt Result
      %dd= @build_job.result.humanize
      %dt Branch
      %dd= @build_job.branch.name
      %dt Base version
      %dd= link_to @build_job.base_version.name, @build_job.base_version
      - unless @build_job.full_version.nil?
        %dt Full version
        %dd= @build_job.full_version.title
      - unless @build_job.commit.nil?
        %dt VCS revision
        %dd= revision_text(@build_job)
      - if @build_job.build_artefacts.any?
        %dt Download
        %dd= artefacts_links(@build_job, true)
      %dt Build enviroment
      %dd= link_to @build_job.enviroment.title, @build_job.enviroment
      %dt Target platform
      %dd= @build_job.target_platform.title
      %dt Started by
      %dd= link_to @build_job.started_by_user.email, @build_job.started_by_user
      - unless @build_job.notify_user.nil?
        %dt Notify
        %dd= link_to @build_job.notify_user.email, @build_job.notify_user
      %dt Comment
      %dd= @build_job.comment
      %dt Started at
      %dd= localtime @build_job.started_at
      - unless @build_job.finished_at.nil?
        %dt Finished at
        %dd= localtime @build_job.finished_at
      - unless @build_job.build_log.nil?
        %dt Log
        %dd= link_to "full", enviroment_build_log_path(@enviroment, @build_job.build_log)
      - unless @build_job.worker.nil?
        %dt Worker
        %dd= link_to @build_job.worker.title, @build_job.worker
      %dt Created at
      %dd= localtime @build_job.created_at
      %dt Updated at
      %dd= localtime @build_job.updated_at
      
  - if @build_job.status != 'ready'
    = link_to 'Stop this job', stop_enviroment_build_job_path(enviroment_title: @enviroment.title, id: @build_job.id), :method => :delete, :class => "btn btn-danger", :data => { :confirm => 'Are you sure?' }
  
  = link_to 'Delete this job', enviroment_build_job_path(enviroment_title: @enviroment.title, id: @build_job.id), :method => :delete, :class => "btn btn-danger pull-right", :data => { :confirm => 'Are you sure?' }