= bootstrap_form_for(@user, url:  update_profile_user_path(@user), layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10", html: {multipart: true}) do |f|
  = f.file_field :background_image
  - unless @user.background_image_url.nil?
    .row.form-group
      .control-label.col-sm-2
        = f.label :remove_background_image
      .col-sm-10
        = f.check_box :remove_background_image, label: "yes"
        = image_tag(@user.background_image_url, size: 128, alt: "current backgroung image")
        
  = f.number_field :background_image_opacity, :min => 0.0, :max => 1.0, :step => 0.1
  = f.primary 'Save'