- title 'Build log'

%h1.page-header= yield(:title)

.row
  .col-md-12
    %dl.dl-horizontal
      %dt Enviroment
      %dd= @build_log.build_job.enviroment.title
      %dt Datetime
      %dd= localtime(@build_log.updated_at)
      %dt Platform
      %dd= @build_log.build_job.target_platform.title
      %dt Built on
      %dd= @build_log.build_job.worker.humanize

%pre= highlight(CGI.escapeHTML(@build_log.text), 'error', highlighter: '<b><mark class="bg-danger">\1</mark></b>')

= link_to 'Unformatted log', enviroment_build_log_path(@build_log.build_job.enviroment.title, @build_log, format: :text), :class => 'btn btn-primary'
