= bootstrap_form_for(@enviroment, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f|@build_job
  = f.text_field :title
  = f.number_field :default_build_number
  = f.select :repository_id, @repositories.map{ |p| ["#{p.title} (#{p.vcs_type.humanize} #{p.path})", p.id] }, {}, :id => "select-repository"
  = select2js_for_id "select-repository"
  = f.text_field :branches_filter, :placeholder => "enter a regexp, empty to disable filtering"
  = f.collection_check_boxes :base_version_ids, @base_versions, :id, :name, label: "Base versions"
  = f.primary 'Save'
  - if not defined?(delete_disabled) or not delete_disabled
    = link_to 'Delete this enviroment', @enviroment, :method => :delete, :class => "btn btn-danger pull-right", :data => { :confirm => 'Are you sure?' }