- title "Enviroment info"

%h1.page-header= yield(:title)

.row
  .col-md-12
    %dl.dl-horizontal
      %dt Title
      %dd= @enviroment.title
      %dt Default build number
      %dd= @enviroment.default_build_number
      %dt Repository
      - unless @enviroment.repository.nil?
        %dd= link_to @enviroment.repository.title, @enviroment.repository
      - else
        %dd none
      - unless @enviroment.issue_tracker.nil?
        %dt Issue tracker
        %dd= link_to @enviroment.issue_tracker.title, @enviroment.issue_tracker
      %dt Branches filter regex
      %dd= @enviroment.branches_filter
      %dt Base versions
      %dd= @enviroment.base_versions.map{|b| b.name}.join(", ")
      - unless @enviroment.target_platforms_order.nil?
        %dt Target platfroms UI order
        %dd= @enviroment.target_platforms_order.join(", ")
      %dt Created at
      %dd= localtime @enviroment.created_at
      %dt Updated at
      %dd= localtime @enviroment.updated_at
    
.row
  .col-md-12
    = link_to 'Edit enviroment', edit_enviroment_path(@enviroment), class: "btn btn-primary"