- title "Build number info"

%h1= yield(:title)

.row
  .col-md-12
    %dl.dl-horizontal
      %dt Branch
      %dd= @build_number.branch
      %dt Commit
      %dd= @build_number.commit
      %dt Number
      %dd= @build_number.number
      %dt Enviroment
      %dd= link_to @build_number.enviroment.title, enviroment_path(@build_number.enviroment)
      %dt Created at
      %dd= localtime @build_number.created_at
      %dt Updated at
      %dd= localtime @build_number.updated_at
